# Dependencies
node_modules/
node_modules

# Build output
dist/
dist

# Logs
logs/
*.log

# OS metadata
.DS_Store

# Environment configuration
.env
.env.*
!*.example
.env.local
.env.production
.emv.download

# Editor directories
.idea/
.vscode/
.vercel