# Dependencies
node_modules/

# Build output
dist/

# Logs
logs/
*.log

# OS metadata
.DS_Store

# Environment configuration
.env
.env.*
!*.example
.env.local
.env.production
.emv.download

# Editor directories
.idea/
.vscode/
